mat-form-field {
    margin: 8px 0;
  }
  
  mat-icon {
    color: #a87e0c; /* Color dorado para el icono */
  }
  .form-row {
    display: flex;
    gap: 16px;
    width: 100%;
  }
  .titulo{
    font-weight: bold;
    font-size: 2rem;
  }
  .container{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .div_botones{
    display: flex;
    justify-content: right;
  }
.limpiar-button{
    color: #971c4e !important; /* Color del texto */
    margin-right: 7px; 
}
  .cancelar-button {
    border: 1px solid #bc8a3c; /* Color del borde */
    color: #bc8a3c !important; /* Color del texto */
    margin-right: 7px;
  }
  
  .aceptar-button {
    background-color: #971c4e; /* Color de fondo */
    color: white !important; /* Color del texto */
  }
  
  .cancelar-button:hover {
    background-color: #bc8a3c;
    color: white !important;
  }
  
  .aceptar-button:hover {
    background-color: #971c4e; /* Color de fondo en hover */
  }
  .div_busqueda{
    justify-content: center !important;
  }
  .div1{
    background-color: #F1F3F3;;
    border-radius: 10px;
    padding-left: 5px;
  }
  .texto1{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .dosis{
    //width: 50px;
    background-color: aqua;
    border-radius: 10px;
  }
  .action-button {
    background-color: white !important;
    color: rgb(9, 93, 219) !important;
    border-radius: 20px;
    text-transform: none;
    border: white;
    //font-weight: bold;
  }
  .dorado{
    color:#a87e0c;
    font-size: .9rem;
    
  }
  .card-action {
    margin-top: 16px;
    text-align: right;
    width: 100%;
  }
